body {
    background: #f8f8f8;
}

img {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.header {
    font-family: sans-serif;
    font-weight: bold;
}

.name-site {
    font-size: 1.5em;
}

.menu {
    list-style-type: none;
    font-size: 1.2em;
}

.header-menu {
    height: 150px;
}

.header-menu:before {
    content: " ";
    float: left;
    background: url(images/logo.png);
    height: 120px;
    width: 198px;
    margin: 10px;
}
/*
.menu-splitter {
    margin-top: 2em;
}
*/

.menu a {
    text-decoration: none;
    color: chocolate;
}

.menu a:hover {
    color: coral;
}

.products h3{
    color: #000;
    background: #eee1d1;
    font-size: 1.5em;
    font-weight: bold;
}

.products #description {
    color: #707070;
    font-size: 18px;
    font-style: italic;
    line-height: 16px;
    font-weight: bold;
}

.products img:hover {
    border-color: transparent;
}

.products p:first-letter {
    font-size: 1.5em;
}

#description_full {
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}

.properties {
    color: brown;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 20px;
    list-style-image: url("images/marker.png");
}

.contact {
    width: 30em;
    height: 20px;
    font-size: 20px;
    text-transform: capitalize;
    background: #eee1d1;
}

.contact:focus[type="email"] {
    color: #f8f8f8;
    background: #a55933;
}

.marker {
    background: url(images/marker.png);
    width: 8px;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 1em;
}

.footer {
    background: burlywood;
    text-align: center;
}